@charset "UTF-8";
/*Сброс*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, samp, small,
strike, strong, sub, sup, tt, var, b, i,
dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer,
header, hgroup, nav, output, ruby, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

button, button:active, button:focus,
input, input:active, input:focus {
  outline: none;
}

ol, ul {
  list-style: none;
}

.hidden {
  display: none;
}

.fancybox-is-open .fancybox-bg {
  background-color: #2836bb;
  opacity: 0.55;
}

.fancybox-close-small:after {
  display: none;
}

.fancybox-close-small {
  background-image: url(../img/icons/close-b.png);
  background-repeat: no-repeat;
  background-position: center center;
  width: 20px;
  height: 20px;
  right: 56px;
  top: 43px;
}

.fancybox-close-small:hover {
  opacity: 0.8;
}

/*Внешние блоки*/
body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.25;
  font-family: "Fira Sans Condensed";
  overflow-x: hidden;
}

.header {
  padding-top: 24px;
}

.header__h-logo {
  padding-top: 17px;
}

.header__h-phone {
  padding-bottom: 9px;
}

.header__h-search {
  border: 1px solid #959595;
  padding: 5px 0;
  position: relative;
}

.header__h-center {
  padding-top: 13px;
}

.header__h-search::after {
  clear: both;
  content: "";
  display: table;
}

.header__h-search .ui-selectmenu-button.ui-button {
  margin-right: 0;
  border-radius: 0;
  border: none;
  background-color: transparent;
  width: 100%;
  outline: none;
}

.header__h-search .ui-selectmenu-text {
  margin-right: 24px;
  font-family: "Fira Sans Condensed";
  font-weight: 500;
  color: #000;
}

.header__h-search .ui-button {
  padding: 0 24px;
  line-height: 34px;
}

.header__h-search .ui-button .ui-icon {
  display: none;
}

.header__h-search .ui-selectmenu-button-closed::after {
  content: '';
  display: block;
  width: 13px;
  height: 7px;
  background-image: url(../img/icons/select-arrow.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  position: absolute;
  right: 12px;
  top: 50%;
  margin-top: -3.5px;
}

.header__h-search .ui-selectmenu-button-open::after {
  content: '';
  display: block;
  width: 13px;
  height: 7px;
  background-image: url(../img/icons/select-arrow.png);
  background-repeat: no-repeat;
  background-position: center top;
  position: absolute;
  right: 12px;
  top: 50%;
  margin-top: -3.5px;
}

.header__bottom {
  margin-top: 40px;
  position: relative;
  overflow-x: hidden;
}

.header__bottom::after {
  content: '';
  display: block;
  background-color: #2836bb;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -2;
}

.header__h-compare {
  padding: 14px 0;
  position: relative;
  text-align: right;
}

.header__h-compare::before {
  content: '';
  width: 999px;
  top: 0;
  bottom: 0;
  display: block;
  background-color: #ffd940;
  position: absolute;
  z-index: -1;
}

.page {
  padding-bottom: 70px;
}

.page__p-bigslider {
  border-bottom: 1px solid #9398cb;
}

.page__p-catline {
  padding-top: 75px;
  padding-bottom: 65px;
  border-bottom: 1px solid #9398cb;
  overflow-x: hidden;
}

.page__p-question {
  padding-top: 50px;
}

.page__p-title {
  padding-top: 10px;
}

.page__p-description {
  padding-top: 30px;
  padding-bottom: 36px;
  border-bottom: 1px solid #000;
}

.page__p-filt {
  margin: 13px 0 37px;
  border-left: 1px solid #000;
  padding-left: 18px;
  margin-right: -12px;
}

.page__p-filt-first {
  padding-left: 0;
  border-left: none;
}

.page__p-catitem {
  padding-bottom: 30px;
}

.page__section-top {
  padding-top: 50px;
}

.page__p-line {
  margin-top: 40px;
}

.page__p-cardtop .p-catitem__buttons {
  padding-top: 0;
  margin-top: -16px;
}

.page__p-cardtop .p-catitem__btn-left {
  width: 160px;
  margin-right: 30px;
  padding-right: 0;
}

.page__p-cardtop .p-catitem__btn-right {
  padding-left: 0;
  width: 150px;
  float: left;
}

.page__marginfo {
  margin-top: 48px;
}

.page__marginfo .col-lg-6 {
  padding: 10px 15px;
}

.page__marginfo .col-lg-6:first-child {
  position: relative;
  padding-right: 50px;
}

.page__marginfo .col-lg-6:first-child::after {
  width: 1px;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 76px;
  right: 0;
  background-color: #000;
  content: '';
  display: block;
}

.page__marginfo .col-lg-6:nth-child(2) {
  padding-left: 50px;
}

.page__p-har .p-catitem__list {
  padding-top: 30px;
}

.page__p-har .p-catitem__item-left {
  font-size: 22px;
}

.page__p-har .p-catitem__item-right {
  font-size: 22px;
}

.page__p-har .p-catitem__item {
  padding-bottom: 10px;
  padding-top: 10px;
  vertical-align: middle;
}

.page__p-bigtitle {
  text-align: center;
  padding-top: 60px;
  margin-bottom: -20px;
}

.page__p-content {
  padding-top: 26px;
}

.page__p-content p {
  font-size: 19px;
  color: #000;
  line-height: 26px;
}

.page__p-content strong {
  font-weight: bold;
}

.page__p-content img {
  display: block;
  width: 100%;
  height: auto;
}

.page__p-content ul {
  display: block;
}

.page__p-content ul li {
  padding-left: 25px;
  font-size: 19px;
  color: #000;
  line-height: 26px;
  padding-bottom: 26px;
  position: relative;
}

.page__p-content ul li::before {
  content: '';
  width: 12px;
  height: 12px;
  display: block;
  position: absolute;
  left: 0;
  top: 6px;
  background-image: url(../img/icons/clist.png);
  background-size: cover;
}

.page__p-content h1 {
  display: inline-block;
  font-size: 40px;
  color: #273298;
  border-bottom: 1px solid #000;
}

.page__p-content h2 {
  display: inline-block;
  font-size: 34px;
  color: #273298;
  border-bottom: 1px solid #000;
}

.footer__top {
  background-color: #3f3f3f;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__bottom {
  background-color: #2b2b2b;
  padding: 30px 0;
}

.footer__f-copy {
  padding-top: 11px;
}

.footer__wp {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
}

.footer__f-phone {
  margin-top: 2px;
}

.footer__f-pol {
  margin-top: 9px;
}

.footer__f-sigma {
  margin-top: 9px;
}

/*Стандартные*/
.btn {
  font-size: 23px;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  background-image: url(../img/btn.png);
  background-repeat: no-repeat;
  background-size: 100% 156px;
  background-position: 0 0;
  height: 52px;
  line-height: 52px;
  text-align: center;
  font-family: "Fira Sans Condensed";
  font-weight: 500;
  color: #2836bb;
}

.btn:hover {
  color: #fff;
  background-position: 0 -52px;
  text-decoration: none;
}

.btn:focus, .btn:active {
  color: #fff;
  background-position: 0 -104px;
  text-decoration: none;
}

/*Компоненты*/
.h-logo {
  display: inline-block;
}

.h-logo img {
  display: block;
  max-width: 100%;
}

.h-phone {
  padding-left: 40px;
  display: inline-block;
  background-image: url(../img/icons/1.png);
  background-repeat: no-repeat;
  background-position: left center;
  font-size: 26px;
  text-decoration: none;
  color: #000;
}

.h-phone span {
  color: #262972;
  font-size: 34px;
}

.h-phone:hover, .h-phone:active, .h-phone:focus {
  text-decoration: none;
  color: #262972;
}

.h-text {
  font-size: 19px;
  display: block;
  width: 100%;
  text-align: center;
  color: #000;
  padding-bottom: 15px;
}

.h-search {
  height: 34px;
  border: none;
  display: block;
  padding: 0 24px;
  font-size: 17px;
  font-family: "Fira Sans Condensed";
  font-weight: 500;
  width: 100%;
  border-right: 1px solid #959595;
  width: 50%;
  float: left;
  color: #000;
}

.h-search::-webkit-input-placeholder {
  opacity: 1;
  color: #000;
}

.h-search::-moz-placeholder {
  opacity: 1;
  color: #000;
}

.h-search:-moz-placeholder {
  opacity: 1;
  color: #000;
}

.h-search:-ms-input-placeholder {
  opacity: 1;
  color: #000;
}

.h-search__select-wp {
  float: left;
  width: 50%;
  padding-right: 46px;
}

.h-search__button {
  width: 44px;
  height: 46px;
  text-indent: -9999px;
  background-color: #ffd940;
  border: none;
  background-image: url(../img/icons/search.png);
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  position: absolute;
  right: -1px;
  top: -1px;
  z-index: 1;
}

.h-search__button:hover {
  background-color: #ffef62;
}

.h-search__button:focus, .h-search__button:active {
  background-color: #e0bc2d;
}

.h-callback {
  height: 46px;
  line-height: 46px;
  background-size: 100% 138px;
}

.h-callback:hover {
  background-position: 0 -46px;
}

.h-callback:active, .h-callback:focus {
  background-position: 0 -92px;
}

.h-nav {
  font-size: 0;
  padding: 14px 0;
}

.h-nav__item {
  display: inline-block;
  padding-left: 40px;
}

.h-nav__item:first-child {
  padding-left: 0;
}

.h-nav__link {
  color: #fff;
  font-size: 18px;
  line-height: 36px;
  border-bottom: 1px solid #fff;
  border-top: 1px solid transparent;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
}

.h-nav__link:hover {
  color: #ffd940;
  border-bottom: 1px solid #ffd940;
  text-decoration: none;
}

.h-nav__link:focus, .h-nav__link:active {
  text-decoration: none;
  color: #fff;
}

.h-nav__item.active .h-nav__link {
  color: #ffd940;
  border-bottom: 1px solid #ffd940;
}

.h-compare {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  padding-right: 42px;
  background-image: url(../img/icons/h-compare.png);
  background-repeat: no-repeat;
  background-position: right center;
  height: 36px;
  position: relative;
}

.h-compare span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  right: 0;
  padding-right: 42px;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  color: #2836bb;
  font-weight: 500;
  display: inline-block;
  text-align: left;
}

.h-compare:hover span, .h-compare:focus span, .h-compare:active span {
  text-decoration: none;
  color: #2836bb;
}

.p-bigslider {
  padding-top: 48px;
  padding-bottom: 38px;
}

.p-bigslider__item {
  height: 365px;
}

.p-bigslider__left {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  padding-left: 85px;
}

.p-bigslider__title {
  font-size: 28px;
  font-weight: 500;
  color: #273298;
  text-transform: uppercase;
  display: block;
  padding-bottom: 40px;
}

.p-bigslider__description {
  font-size: 20px;
  color: #000;
  line-height: 24px;
  display: block;
  padding-bottom: 40px;
}

.p-bigslider__btn {
  height: 42px;
  line-height: 42px;
  width: 184px;
  font-size: 18px;
  background-size: 100% 126px;
}

.p-bigslider__btn:hover {
  background-position: 0 -42px;
  color: #fff;
}

.p-bigslider__btn:focus, .p-bigslider__btn:active {
  background-position: 0 -84px;
  color: #fff;
}

.p-bigslider__img {
  display: inline-block;
  max-width: 100%;
  max-height: 360px;
  width: auto !important;
}

.p-bigslider .owl-nav div {
  width: 16px;
  height: 18px;
  background-image: url(../img/icons/arrows.png);
  background-repeat: no-repeat;
  text-indent: -9999px;
  position: absolute;
  top: 50%;
  margin-top: -9px;
}

.p-bigslider .owl-prev {
  background-position: left center;
  left: 0;
}

.p-bigslider .owl-next {
  background-position: right center;
  right: 0;
}

.p-catline {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0 -50px;
}

.p-catline__item {
  display: block;
  width: 100%;
  position: relative;
}

.p-catline__item::after {
  content: '';
  display: block;
  height: 25px;
  width: 1px;
  position: absolute;
  right: -0.5px;
  top: 50%;
  margin-top: -12.5px;
  background-color: #273298;
}

.p-catline__item:last-child::after {
  display: none;
}

.p-catline__item:nth-child(1) .p-catline__icon {
  height: 63px;
  width: 84px;
  background-image: url(../img/icons/1-1.png);
}

.p-catline__item:nth-child(2) .p-catline__icon {
  width: 79px;
  height: 69px;
  background-image: url(../img/icons/1-2.png);
}

.p-catline__item:nth-child(3) .p-catline__icon {
  width: 74px;
  height: 65px;
  background-image: url(../img/icons/1-3.png);
}

.p-catline__item:nth-child(4) .p-catline__icon {
  width: 96px;
  height: 48px;
  background-image: url(../img/icons/1-4.png);
}

.p-catline__item:nth-child(5) .p-catline__icon {
  width: 89px;
  height: 61px;
  background-image: url(../img/icons/1-5.png);
}

.p-catline__item:nth-child(6) .p-catline__icon {
  width: 91px;
  height: 46px;
  background-image: url(../img/icons/1-6.png);
}

.p-catline__item-active .p-catline__link .p-catline__icon {
  background-position: right center !important;
}

.p-catline__item-active .p-catline__link .p-catline__title {
  color: #273298 !important;
}

.p-catline__link {
  display: block;
  text-decoration: none;
}

.p-catline__link:hover {
  text-decoration: none;
}

.p-catline__link:hover .p-catline__icon {
  background-position: right center;
}

.p-catline__link:hover .p-catline__title {
  color: #273298;
}

.p-catline__link:focus, .p-catline__link:active {
  text-decoration: none;
}

.p-catline__wp {
  display: block;
  width: 100%;
  height: 69px;
  position: relative;
  margin-bottom: 10px;
}

.p-catline__icon {
  display: block;
  background-repeat: no-repeat;
  background-position: left center;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.p-catline__title {
  display: block;
  text-align: center;
  font-size: 24px;
  text-transform: uppercase;
  color: #000;
  line-height: 24px;
}

.p-question__zag {
  text-align: center;
  display: block;
}

.p-question__title {
  display: inline-block;
  font-size: 40px;
  color: #273298;
  border-bottom: 1px solid #000;
}

.p-question__wp {
  padding-top: 45px;
  padding-bottom: 40px;
  display: block;
  width: 900px;
  margin: 0 auto;
}

.p-question__wp::after {
  clear: both;
  content: "";
  display: table;
}

.p-question__phone {
  margin-top: 9px;
  float: left;
  width: 30%;
  padding: 0 15px;
}

.p-question__phone p {
  display: inline;
  font-size: 24px;
  line-height: 24px;
  font-weight: 600;
  color: #000;
}

.p-question__phone a {
  font-size: 32px;
  clear: both;
  margin-top: 8px;
  color: #273298;
  font-weight: 600;
  display: block;
  width: 100%;
  text-align: center;
  text-decoration: none;
  border-bottom: 1px solid #000;
  line-height: 32px;
  padding-bottom: 5px;
}

.p-question__phone a:hover, .p-question__phone a:focus, .p-question__phone a:active {
  text-decoration: none;
  color: #273298;
}

.p-question__inputs {
  float: left;
  width: 35%;
  padding: 0 15px;
}

.p-question__input {
  width: 100%;
  display: block;
  font-family: "Fira Sans Condensed";
  font-weight: 600;
  border-top: 1px solid transparent;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #000;
  color: #000;
  height: 40px;
  font-size: 17px;
  margin-bottom: 25px;
  outline: none;
}

.p-question__input::-webkit-input-placeholder {
  color: #000;
  opacity: 1;
}

.p-question__input::-moz-placeholder {
  color: #000;
  opacity: 1;
}

.p-question__input:-moz-placeholder {
  color: #000;
  opacity: 1;
}

.p-question__input:-ms-input-placeholder {
  color: #000;
  opacity: 1;
}

.p-question__input:last-child {
  margin-bottom: 0;
}

.p-question__textarea {
  resize: none;
  width: 100%;
  display: block;
  font-family: "Fira Sans Condensed";
  font-weight: 600;
  font-size: 17px;
  height: 105px;
  border-top: 1px solid transparent;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #000;
  padding-top: 9px;
  padding-bottom: 9px;
  outline: none;
}

.p-question__textarea::-webkit-input-placeholder {
  color: #000;
  opacity: 1;
}

.p-question__textarea::-moz-placeholder {
  color: #000;
  opacity: 1;
}

.p-question__textarea:-moz-placeholder {
  color: #000;
  opacity: 1;
}

.p-question__textarea:-ms-input-placeholder {
  color: #000;
  opacity: 1;
}

.p-question__textarea:last-child {
  margin-bottom: 0;
}

.p-question__subdescription {
  margin-bottom: 40px;
  text-align: center;
}

.p-question__subdescription p {
  display: inline-block;
  text-align: center;
  font-size: 20px;
  line-height: 24px;
  font-weight: 100;
  color: #000;
  background-color: #fff;
  position: relative;
}

.p-question__subdescription p::before {
  content: '';
  z-index: -1;
  width: 45px;
  height: 1px;
  position: absolute;
  left: -80px;
  top: 50%;
  margin-top: -0.5px;
  display: block;
  background-color: #000;
}

.p-question__subdescription p::after {
  content: '';
  z-index: -1;
  width: 45px;
  height: 1px;
  position: absolute;
  right: -80px;
  top: 50%;
  margin-top: -0.5px;
  display: block;
  background-color: #000;
}

.p-question__bottom {
  text-align: center;
}

.p-question__btn {
  width: 187px;
  display: inline-block;
}

.f-bmenu__item {
  display: block;
  padding-bottom: 7px;
}

.f-bmenu__item:last-child {
  padding-bottom: 0;
}

.f-bmenu__link {
  font-size: 26px;
  line-height: 29px;
  text-transform: uppercase;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

.f-bmenu__link:hover {
  text-decoration: none;
  color: #ffd940;
  border-bottom: 1px solid #ffd940;
}

.f-bmenu__subtitle {
  font-size: 26px;
  line-height: 29px;
  text-transform: uppercase;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  padding-bottom: 15px;
}

.f-lmenu__item {
  display: block;
  padding-bottom: 8px;
}

.f-lmenu__item:last-child {
  padding-bottom: 0;
}

.f-lmenu__link {
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #fff;
}

.f-lmenu__link:hover {
  text-decoration: none;
  color: #ffd940;
  border-bottom: 1px solid #ffd940;
}

.f-logo {
  display: block;
}

.f-logo__img {
  max-width: 126px;
  height: auto;
  display: block;
}

.f-copy {
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  display: block;
  float: left;
}

.f-phone {
  padding-left: 24px;
  display: inline-block;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  background-image: url(../img/icons/1-wth.png);
  background-repeat: no-repeat;
  background-position: 0 10px;
}

.f-phone span {
  font-size: 24px;
}

.f-phone:hover, .f-phone:focus, .f-phone:active {
  text-decoration: none;
  color: #fff;
}

.f-pol {
  font-weight: 700;
  color: #fff;
  text-decoration: underline;
  display: inline-block;
}

.f-pol:hover {
  text-decoration: none;
  color: #fff;
}

.f-pol:focus, .f-pol:active {
  text-decoration: underline;
  color: #fff;
}

.f-sigma {
  font-weight: 700;
  color: #fff;
  display: inline-block;
}

.p-path {
  font-size: 0;
}

.p-path__item {
  padding-right: 15px;
  display: inline-block;
  position: relative;
}

.p-path__item::after {
  content: '/';
  display: block;
  width: 15px;
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
  font-size: 16px;
  color: #000;
  line-height: 20px;
}

.p-path__item:last-child {
  padding-right: 0;
}

.p-path__item:last-child::after {
  display: none;
}

.p-path__link {
  color: #000;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  font-weight: 300;
}

.p-path__link:hover {
  text-decoration: underline;
  color: #000;
}

.p-path__link:focus, .p-path__link:active {
  text-decoration: none;
  color: #000;
}

.p-path__last {
  font-size: 16px;
  color: #000;
  line-height: 20px;
  font-weight: 300;
}

.p-title {
  font-size: 40px;
  padding-bottom: 5px;
  text-transform: uppercase;
  color: #273298;
  border-bottom: 1px solid #000000;
  display: inline-block;
}

.p-description {
  color: #000;
  font-size: 19px;
  line-height: 26px;
}

.p-filt__check {
  display: none;
}

.p-filt__check:checked + label:before {
  background-image: url(../img/icons/ch.png);
}

.p-filt__label {
  display: inline-block;
  position: relative;
  line-height: 22px;
  padding-left: 33px;
  font-size: 20px;
  color: #000;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.p-filt__label::before {
  content: '';
  display: block;
  width: 22px;
  height: 22px;
  border: 1px solid #000;
  position: absolute;
  left: 0;
  top: 0;
  background-repeat: no-repeat;
  background-position: center center;
}

.p-catitem {
  padding: 24px 24px 29px;
  border: 1px solid #000;
  position: relative;
}

.p-catitem__tag {
  position: absolute;
  display: block;
  padding: 0 16px;
  line-height: 34px;
  text-transform: uppercase;
  font-size: 15px;
  color: #fff;
  left: -1px;
  top: -1px;
  background-color: #f00;
}

.p-catitem__top {
  width: 100%;
  height: 245px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.p-catitem__img {
  max-width: 100%;
  display: block;
  max-height: auto;
}

.p-catitem__title {
  text-transform: uppercase;
  color: #273298;
  font-size: 26px;
  display: block;
  padding-bottom: 5px;
  padding-top: 10px;
}

.p-catitem__item {
  border-bottom: 1px solid #000;
  padding-bottom: 4px;
  padding-top: 10px;
}

.p-catitem__item::after {
  clear: both;
  content: "";
  display: table;
}

.p-catitem__item-left {
  width: 50%;
  display: block;
  float: left;
  text-align: left;
  font-size: 16px;
  color: #000;
}

.p-catitem__item-right {
  width: 50%;
  display: block;
  float: right;
  text-align: right;
  font-size: 16px;
  color: #000;
}

.p-catitem__buttons {
  padding-top: 30px;
  width: 100%;
}

.p-catitem__buttons::after {
  clear: both;
  content: "";
  display: table;
}

.p-catitem__btn-left {
  width: 50%;
  float: left;
  padding-right: 9px;
}

.p-catitem__btn-left .p-catitem__btn {
  display: block;
  height: 41px;
  line-height: 41px;
  text-decoration: none;
  background-color: #273298;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  width: 100%;
  text-align: center;
}

.p-catitem__btn-right {
  width: 50%;
  float: right;
  padding-left: 9px;
}

.p-catitem__btn-right .p-catitem__btn {
  display: block;
  width: 100%;
  background-color: #ffd940;
  padding-left: 10px;
  color: #273298;
  height: 41px;
  line-height: 41px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  position: relative;
}

.p-catitem__btn-right .p-catitem__btn::after {
  content: '';
  display: block;
  width: 20px;
  height: 13px;
  background-image: url(../img/icons/srav.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: absolute;
  right: 13px;
  top: 13px;
}

.p-line {
  width: 100%;
  display: block;
  height: 1px;
  background-color: #000;
  opacity: 1;
}

.p-cardslider::after {
  clear: both;
  content: "";
  display: table;
}

.p-cardslider__left {
  float: left;
  width: 30%;
}

.p-cardslider__thumb {
  cursor: pointer;
  height: 100px;
  width: 100px;
  margin-bottom: 20px;
  border-bottom: 1px solid #000;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-cardslider__subimg {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.p-cardslider__right {
  float: right;
  width: 70%;
}

.p-cardslider__big {
  border-bottom: 1px solid #000;
}

.p-cardslider__item {
  height: 339px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-cardslider__img {
  max-height: 100%;
  max-width: 100%;
  display: block;
  width: auto !important;
}

.p-subtitle {
  font-size: 34px;
  padding-bottom: 5px;
  text-transform: uppercase;
  color: #273298;
  border-bottom: 1px solid #000000;
  display: inline-block;
}

.p-cardlis {
  padding-top: 40px;
}

.p-cardlis__item {
  padding-left: 34px;
  padding-right: 0;
  padding-bottom: 40px;
  position: relative;
}

.p-cardlis__item::before {
  content: '';
  display: block;
  width: 17px;
  height: 17px;
  background-image: url(../img/icons/clist.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  left: 0;
  top: 8px;
  position: absolute;
}

.p-cardlis__item h4 {
  font-size: 30px;
  padding-bottom: 16px;
  text-transform: uppercase;
  color: #273298;
  display: block;
}

.p-cardlis__item p {
  display: block;
  color: #000;
  font-size: 19px;
  line-height: 26px;
}

.p-bigtitle {
  font-size: 40px;
  color: #273298;
  display: inline-block;
  text-transform: uppercase;
}

.p-menu__item-active .p-menu__link::after {
  background-position: bottom center !important;
}

.p-menu__link {
  text-decoration: none;
  padding-bottom: 8px;
  display: block;
  font-weight: bold;
  color: #000;
  font-size: 26px;
  padding-right: 13px;
  position: relative;
}

.p-menu__link::after {
  content: '';
  width: 13px;
  height: 7px;
  background-image: url(../img/icons/select-arrow.png);
  background-repeat: no-repeat;
  background-position: top center;
  display: block;
  position: absolute;
  right: 0;
  top: 14px;
}

.p-menu__submenu {
  border-top: 1px solid #000;
  padding-top: 12px;
  margin-bottom: 30px;
}

.p-menu__subitem {
  padding-left: 34px;
}

.p-menu__subitem:last-child .p-menu__sublink {
  border-bottom: none;
}

.p-menu__subitem-active .p-menu__sublink {
  color: #273298;
}

.p-menu__subitem-active .p-menu__sublink::before {
  height: 4px !important;
  top: 17.5px !important;
  background-color: #273298 !important;
}

.p-menu__subitem-active .p-menu__sublink::after {
  height: 4px !important;
  top: 17.5px !important;
  background-color: #273298 !important;
}

.p-menu__sublink {
  display: block;
  width: 100%;
  padding: 8px 0 8px 0;
  text-decoration: none;
  border-bottom: 1px solid #000;
  position: relative;
  color: #000;
  font-size: 20px;
}

.p-menu__sublink::before {
  content: '';
  display: block;
  width: 7px;
  top: 19px;
  background-color: #000;
  height: 1px;
  left: -34px;
  position: absolute;
}

.p-menu__sublink::after {
  content: '';
  display: block;
  width: 7px;
  left: -22px;
  top: 19px;
  background-color: #000;
  height: 1px;
  position: absolute;
}

.p-menu__sublink:hover {
  color: #273298;
}

.p-menu__sublink:hover::before {
  background-color: #273298;
}

.p-menu__sublink:hover::after {
  background-color: #273298;
}

.popup {
  width: 780px;
  padding: 50px 56px 70px 56px;
}

.popup__title {
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  color: #2836bb;
  font-weight: 500;
  border-bottom: 1px solid #000;
  font-family: "Fira Sans Condensed";
}

.popup__title-wp {
  text-align: center;
  display: block;
  width: 100%;
  padding-bottom: 60px;
}

.popup__btn {
  height: 40px;
  background-size: 100% 120px;
  max-width: 230px;
  line-height: 40px;
  margin-left: auto;
  margin-right: auto;
}

.popup__btn:hover {
  background-position: 0 -40px;
}

.popup__btn:focus, .popup__btn:active {
  background-position: 0 -80px;
}

.popup__btn-wp {
  padding-top: 78px;
  text-align: center;
}
